In [1]:
#Import needed library.
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('DRTPS.csv',delimiter=',',header='infer')

In [8]:
df['LC'].unique()

array(['PL', 'ME', 'AD', 'HU', 'HR', 'BA', 'RS', 'FR', 'AL.', 'CH', 'MK',
       'DK', 'IE', 'RO', 'DE', 'MD', 'AT', 'CZ', 'NO', 'EE', 'SK', 'BG',
       'ES', 'BE', 'NL', 'LT', 'FI', 'GB', 'SE', 'SI', 'UA', 'IT', 'LV',
       'GR', 'IS', 'TR', 'PT', 'CY', 'KZ', 'RU', 'BY', 'AZ', 'GE', 'AM',
       'LU'], dtype=object)

In [9]:
df['DC'].unique()

array(['ME', 'AD', 'HU', 'HR', 'BA', 'RS', 'FR', 'AL.', 'CH', 'MK', 'DK',
       'IE', 'RO', 'DE', 'MD', 'AT', 'CZ', 'NO', 'EE', 'SK', 'BG', 'ES',
       'BE', 'NL', 'LT', 'FI', 'GB', 'SE', 'SI', 'UA', 'IT', 'LV', 'GR',
       'IS', 'TR', 'PT', 'CY', 'KZ', 'RU', 'BY', 'AZ', 'GE', 'AM', 'LU',
       'PL'], dtype=object)

In [10]:
df['M'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12], dtype=int64)

In [11]:
df['Y'].unique()

array([2019], dtype=int64)

In [19]:
df

      LC  DC     Y   M   D
0     PL  ME  2019   1  41
1     PL  AD  2019   1   0
2     PL  HU  2019   1  34
3     PL  HR  2019   1  34
4     PL  BA  2019   1  64
...   ..  ..   ...  ..  ..
1051  BY  PL  2019  12  80
1052  AZ  PL  2019  12  30
1053  GE  PL  2019  12  46
1054  AM  PL  2019  12  31
1055  LU  PL  2019  12  55

[1056 rows x 5 columns]